
.listSanPham {
	margin: 50px auto;
    border-collapse: collapse;
    width: 100%;
}

/* thêm border và padding cho th */
.listSanPham th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.listSanPham td {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
/* Canh giữa cho cột stt và th */
.listSanPham tr td:first-child, .listSanPham tr th {
	text-align: center;
}

/* những tr chẵn sẽ có màu khác */
.listSanPham tr:nth-of-type(even) {background-color: #ffffff;}
/* Last child là dòng tổng tiền */
.listSanPham tr:last-child { background-color: #4CAF50; }

/* Số lượng */
.listSanPham .soluong {
    text-align: center;
}
.listSanPham .soluong button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; 
}
.listSanPham .soluong button:hover {
    background-color: #4CAF50; 
}
.listSanPham .soluong input {
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 5em;
    height: 2em;
}

/* Link sản phẩm */
.noPadding {
    padding: 0 0 0 10px;
    line-height: 2.5em;
    
    
}
.listSanPham td a {
    display: block;
    position: relative;
    padding: 5px 0;
}
.listSanPham td a:hover {
    text-decoration: underline;
}

/* Hình ảnh sản phẩm */
.imgHide img {
    position: absolute;
    right: -130px;
    width: 150px;
    height: 0;
    border-radius: 10px;
    transition-duration: .1s;
}
.imgHide a:hover img {
    height: 150px;
}

/* Cột Giá tiền canh lề phải */
.alignRight {
    text-align: right;
    padding-right: 30px;  
}



/* Nút xóa */
.fa-trash {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #999;
    cursor: pointer;
    transition-duration: .2s;
}

.fa-trash:hover {
    color: red;
    transform: scale(1.5)
}

/* Nút thanh toán */
.btn-13 {
    margin-bottom: 50px; /* Tăng khoảng cách giữa nút và các phần tử khác */
    border: none;
    z-index: 1;
    position: relative; /* Sử dụng position: relative để xác định vị trí */
    display: block; /* Chuyển đổi nút thành block element để quản lý khoảng trống */
    width: fit-content; /* Tự điều chỉnh chiều rộng dựa trên nội dung */
    margin-left: auto; /* Đặt nút ở giữa màn hình */
    margin-right: auto; /* Đặt nút ở giữa màn hình */
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background:#4CAF50;
    color: #fff;
    
}

.btn-13:active {
    top: 2px;
}

.xoaHet {
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.xoaHet:hover {
    background-color: rgb(224, 65, 65);
}
